{% extends "base.html" %}

{% block content %}
<div class="p-3">
    <a class="btn btn-primary btn-lg" href="{% url "create_view" %}">Create new</a>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
  {% for product in products %}
    <tr>
        <th scope="row">{{ product.pk }}</th>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
    <td> <a class="btn btn-primary btn-sm" href="{% url "detailed_view" product.pk %}">Details</a></td>
    <td> <a class="btn btn-primary btn-sm" href="{% url "delete_view" product.pk %}">Delete</a></td>
    </tr>
    {% endfor %}
  </table>

{% endblock %}