{% extends "base.html" %}

{% block content %}
<div class="p-3">
    <a class="btn btn-primary btn-lg" href="{% url "product_create_view" %}">Create new</a>
</div>

{#<div class="search">#}
{#    {% include 'partial/search_form.html' %}#}
{#</div>#}

<table class="table">
  <thead>
    <tr>
{#      <th scope="col">id</th>#}
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Amount</th>
        <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
  {% for product in products_in_bag %}
    <tr>
{#        <th scope="row">{{ product.pk }}</th>#}
        <td>{{ product.product.name }}</td>
        <td>{{ product.product.price }}</td>
        <td>{{ product.amount }}</td>
        <td>{{ product.get_total_for_product}}</td>

<form action="{% url "product_in_bag_delete_view" product.pk %}" method="POST">
    {% csrf_token %}
    <td><button type="submit">Delete</button></td>
</form>
    </tr>
    {% endfor %}
  </table>




<div class="container">

    <form action="{% url 'makeorder' %}" method="POST">
        {% include "partial/form.html" with button_text="Submit" %}
    </form>

    <div class="pt-1">
        <a class="btn btn-primary btn-sm" href="{% url "products_list_view" %}">Back to main</a>
    </div>

</div>

{% endblock %}